---
- name: Install cron package
  package:
    name: "{{ cron_package }}"
    state: present

- name: Ensure cron service is running
  service:
    name: "{{ cron_service }}"
    state: started
    enabled: yes

- name: Create cron job
  cron:
    name: "KodeKloud Q1 cron job"
    user: "{{ cron_user }}"
    minute: "{{ cron_minute }}"
    job: "{{ cron_command }}"
