---
- name: KodeKloud Linux L2 - Question 01 Create a Cron Job
  hosts: app_servers
  become: yes
  vars_files:
    - vars.yml

  tasks:
    - name: Install cron package
      package:
        name: "{{ cron_package }}"
        state: present

    - name: Ensure cron service is running and enabled
      service:
        name: "{{ cron_service }}"
        state: started
        enabled: yes

    - name: Create cron job for root user
      cron:
        name: "KodeKloud Q1 cron job"
        user: "{{ cron_user }}"
        minute: "{{ cron_minute }}"
        job: "{{ cron_command }}"
